<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/tailwind.config.js"></script>

    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    {{ style }}

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
  </head>

  <body
    class="min-h-screen max-w-4xl mx-auto bg-white antialiased font-jetbrainsMono text-[0.9rem] flex flex-col p-8"
  >
    <!-- LOGO -->
    {% include 'components/logo.html' %}

    <!-- CONTENT -->
    <div class="flex-grow py-6 {% if style %}markdown-body{% endif %}">
      {{ content | safe }}
    </div>

    <!-- FOOTER -->
    {% include 'components/footer.html' %}
  </body>
</html>
